<% was_validated = message.errors.any? %>

<%= form_with(model: message, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% sender_class = "form-control" %>
    <% sender_was_invalid = message.errors.include?(:sender) %>

    <% if was_validated %>
      <% if sender_was_invalid %>
        <% sender_class << " is-invalid" %>
      <% else %>
        <% sender_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :sender_id %>
    <%= f.collection_select :sender_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <% if sender_was_invalid %>
      <% message.errors.full_messages_for(:sender).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% reciever_class = "form-control" %>
    <% reciever_was_invalid = message.errors.include?(:reciever) %>

    <% if was_validated %>
      <% if reciever_was_invalid %>
        <% reciever_class << " is-invalid" %>
      <% else %>
        <% reciever_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :reciever_id %>
    <%= f.collection_select :reciever_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <% if reciever_was_invalid %>
      <% message.errors.full_messages_for(:reciever).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% content_class = "form-control" %>
    <% content_was_invalid = message.errors.include?(:content) %>

    <% if was_validated %>
      <% if content_was_invalid %>
        <% content_class << " is-invalid" %>
      <% else %>
        <% content_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :content %>
    <%= f.text_field :content, class: content_class, placeholder: "Enter content" %>
    <% if content_was_invalid %>
      <% message.errors.full_messages_for(:content).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
