<% was_validated = mountain.errors.any? %>

<%= form_with(model: mountain, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% region_class = "form-control" %>
    <% region_was_invalid = mountain.errors.include?(:region) %>

    <% if was_validated %>
      <% if region_was_invalid %>
        <% region_class << " is-invalid" %>
      <% else %>
        <% region_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :region_id %>
    <%= f.collection_select :region_id, Region.all, :id, :to_s, {}, class: "form-control" %>
    <% if region_was_invalid %>
      <% mountain.errors.full_messages_for(:region).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% mountain_name_class = "form-control" %>
    <% mountain_name_was_invalid = mountain.errors.include?(:mountain_name) %>

    <% if was_validated %>
      <% if mountain_name_was_invalid %>
        <% mountain_name_class << " is-invalid" %>
      <% else %>
        <% mountain_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :mountain_name %>
    <%= f.text_field :mountain_name, class: mountain_name_class, placeholder: "Enter mountain name" %>
    <% if mountain_name_was_invalid %>
      <% mountain.errors.full_messages_for(:mountain_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
