<%= form_with(model: @climb, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :route_name %>

    <%= f.text_field :route_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :length %>

    <%= f.text_field :length, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :grade %>

    <%= f.text_field :grade, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :guide_url %>

    <%= f.text_field :guide_url, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :climb_photo %>

    <%= f.text_field :climb_photo, class: "form-control" %>
  </div>

  <%= f.hidden_field :mountain_id, value: @mountain.id %>

  <div class="form-group">
    <%= f.label :description %>

    <%= f.text_field :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :classic %>

    <%= f.text_field :classic, class: "form-control" %>
  </div>

  <%= f.submit "Create climb", class: "btn btn-block btn-outline-secondary" %>
<% end %>
