<%= form_with(model: @first_ascent, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :legend_id %>

    <%= f.collection_select :legend_id, Legend.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :climb_id, value: @climb.id %>

  <%= f.submit "Create first ascent", class: "btn btn-block btn-outline-secondary" %>
<% end %>
