<% was_validated = climb.errors.any? %>

<%= form_with(model: climb, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% route_name_class = "form-control" %>
    <% route_name_was_invalid = climb.errors.include?(:route_name) %>

    <% if was_validated %>
      <% if route_name_was_invalid %>
        <% route_name_class << " is-invalid" %>
      <% else %>
        <% route_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :route_name %>
    <%= f.text_field :route_name, class: route_name_class, placeholder: "Enter route name" %>
    <% if route_name_was_invalid %>
      <% climb.errors.full_messages_for(:route_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% length_class = "form-control" %>
    <% length_was_invalid = climb.errors.include?(:length) %>

    <% if was_validated %>
      <% if length_was_invalid %>
        <% length_class << " is-invalid" %>
      <% else %>
        <% length_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :length %>
    <%= f.text_field :length, class: length_class, placeholder: "Enter length" %>
    <% if length_was_invalid %>
      <% climb.errors.full_messages_for(:length).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% grade_class = "form-control" %>
    <% grade_was_invalid = climb.errors.include?(:grade) %>

    <% if was_validated %>
      <% if grade_was_invalid %>
        <% grade_class << " is-invalid" %>
      <% else %>
        <% grade_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :grade %>
    <%= f.text_field :grade, class: grade_class, placeholder: "Enter grade" %>
    <% if grade_was_invalid %>
      <% climb.errors.full_messages_for(:grade).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% guide_url_class = "form-control" %>
    <% guide_url_was_invalid = climb.errors.include?(:guide_url) %>

    <% if was_validated %>
      <% if guide_url_was_invalid %>
        <% guide_url_class << " is-invalid" %>
      <% else %>
        <% guide_url_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :guide_url %>
    <%= f.text_field :guide_url, class: guide_url_class, placeholder: "Enter guide url" %>
    <% if guide_url_was_invalid %>
      <% climb.errors.full_messages_for(:guide_url).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% climb_photo_class = "form-control" %>
    <% climb_photo_was_invalid = climb.errors.include?(:climb_photo) %>

    <% if was_validated %>
      <% if climb_photo_was_invalid %>
        <% climb_photo_class << " is-invalid" %>
      <% else %>
        <% climb_photo_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :climb_photo %>
    <%= f.text_field :climb_photo, class: climb_photo_class, placeholder: "Enter climb photo" %>
    <% if climb_photo_was_invalid %>
      <% climb.errors.full_messages_for(:climb_photo).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% mountain_class = "form-control" %>
    <% mountain_was_invalid = climb.errors.include?(:mountain) %>

    <% if was_validated %>
      <% if mountain_was_invalid %>
        <% mountain_class << " is-invalid" %>
      <% else %>
        <% mountain_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :mountain_id %>
    <%= f.collection_select :mountain_id, Mountain.all, :id, :to_s, {}, class: "form-control" %>
    <% if mountain_was_invalid %>
      <% climb.errors.full_messages_for(:mountain).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% description_class = "form-control" %>
    <% description_was_invalid = climb.errors.include?(:description) %>

    <% if was_validated %>
      <% if description_was_invalid %>
        <% description_class << " is-invalid" %>
      <% else %>
        <% description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :description %>
    <%= f.text_field :description, class: description_class, placeholder: "Enter description" %>
    <% if description_was_invalid %>
      <% climb.errors.full_messages_for(:description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% classic_class = "form-control" %>
    <% classic_was_invalid = climb.errors.include?(:classic) %>

    <% if was_validated %>
      <% if classic_was_invalid %>
        <% classic_class << " is-invalid" %>
      <% else %>
        <% classic_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :classic %>
    <%= f.text_field :classic, class: classic_class, placeholder: "Enter classic" %>
    <% if classic_was_invalid %>
      <% climb.errors.full_messages_for(:classic).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
