<%= form_with(model: @message, local: true) do |f| %>

  <%= f.hidden_field :sender_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :reciever_id %>

    <%= f.text_field :reciever_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :content %>

    <%= f.text_field :content, class: "form-control" %>
  </div>

  <%= f.submit "Create message", class: "btn btn-block btn-outline-secondary" %>
<% end %>
