<%= form_with(model: @first_ascent, local: true) do |f| %>

  <%= f.hidden_field :legend_id, value: @legend.id %>

  <div class="form-group">
    <%= f.label :climb_id %>

    <%= f.collection_select :climb_id, Climb.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create first ascent", class: "btn btn-block btn-outline-secondary" %>
<% end %>
