<% was_validated = region.errors.any? %>

<%= form_with(model: region, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% region_name_class = "form-control" %>
    <% region_name_was_invalid = region.errors.include?(:region_name) %>

    <% if was_validated %>
      <% if region_name_was_invalid %>
        <% region_name_class << " is-invalid" %>
      <% else %>
        <% region_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :region_name %>
    <%= f.text_field :region_name, class: region_name_class, placeholder: "Enter region name" %>
    <% if region_name_was_invalid %>
      <% region.errors.full_messages_for(:region_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
